/* VARIABLES */
:root {
  --main: rgb(0, 0, 0);
  --main-accent: rgb(34, 39, 42);
  --main-transparent: rgba(26, 29, 31, 0.9);
  --accent: rgb(0, 200, 255);
  --accent-dark: rgb(0, 147, 188);
}

/* ***** BODY ***** */
body {
  background: var(--main);
  font-family: arial, sans-serif;
}

/* ***** GAME ***** */
.game-container {
  position: relative;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  padding: 4em 2em;
  border-radius: 20px;
  background: var(--main-accent);
}

.game-top {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.game-top__right {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.word {
  white-space: pre;
  margin: 2em;
  color: var(--accent);
  font-size: 2rem;
}

.Hangman-lives {
  margin: auto;
  width: min-content;
  background: var(--main-accent);
  padding: 0.5em;
  border-radius: 10px;
}
/* ***** HEADER ***** */
.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  padding: 3em;
  color: white;
}

.header__player {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__btn {
  color: var(--main);
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.header__btn:hover {
  cursor: pointer;
  background-color: var(--accent-dark);
}

/* Leaderboard */
.leaderboard-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.leaderboard-entity {
  color: rgb(255, 255, 255);
}

.leaderboard-table {
  /* border-collapse: collapse; */
  border-radius: 10px;
  width: 100%;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #4caf50;
  color: white;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard-table tr:hover {
  background-color: #ddd;
}

.leaderboard-title {
  font-family: "Sigmar", cursive;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.leaderboard-table {
  border-collapse: collapse;
  width: 100%;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #1093b7;
  color: white;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: white;
}

.leaderboard-table tr:nth-child(even) {
  background-color: white;
}

.leaderboard-table tr:hover {
  background-color: #ddd;
}

.leaderboard-table tbody .top-1 {
  background-color: rgb(176, 250, 255);
  font-weight: bold;
}

.leaderboard-table tbody .top-2 {
  background-color: rgb(125, 177, 180);
  font-weight: bold;
}

.leaderboard-table tbody .top-3 {
  background-color: rgb(98, 140, 143);
  font-weight: bold;
}

.leaderboard-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  padding: 1em;
}

.leaderboard-btn:hover {
  cursor: pointer;
  background: var(--accent-dark);
}

/* homepage */

.btn-wrapper {
  width: 290px;
  height: 110px;
  position: relative;
  margin: 40px auto 0;
  border-radius: 30px;
}
.btn-wrapper:hover .btn-inner {
  top: -4px;
  transform: scale(1, 1);
  cursor: pointer;
}
.btn-wrapper__container {
  border-bottom: 2px solid #15b5e2;
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 80px;
}
.btn-wrapper__container:before,
.btn-wrapper__container:after {
  border-radius: 30px;
  border-bottom: 2px solid #15b5e2;
  width: 96%;
  left: 2%;
  bottom: -8px;
  content: "";
  position: absolute;
}
.btn-wrapper__container:after {
  border-radius: 30px;
  width: 92%;
  left: 4%;
  bottom: -14px;
}
.btn-wrapper__container .btn-inner {
  border-radius: 30px;
  width: 104.2%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: -2.1%;
  border: 2px solid #15b5e2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  background: #10131c;
  transform: scale(0.96, 0.96);
  transition: all 0.3s;
  z-index: 4;
}
.btn-wrapper__container .btn-inner__text {
  text-decoration: none;
  color: #15b5e2;
}

/* customgame */
.custom-game-form {
  position: relative;
  margin: auto;
  top: 20%;
  padding: 2em;
  border: none;
  border-radius: 1em;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  text-align: center;
  color: white;
  background-color: var(--main-accent);
}
.custom-game-form__title {
  font-size: 1rem;
  color: white;
}

.custom-game-form__input {
  border: 3px solid #15b5e2;
  border-radius: 20px;
  background-color: #10131c;
  color: #15b5e2;
  cursor: pointer;
  padding: 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: all 1s;
  max-width: 170px;
}

.custom-game-form__input:focus {
  outline-color: #15b5e2;
}

.custom-game-form__btn {
  color: var(--main);
  background-color: var(--accent);
  cursor: pointer;
  padding: 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: all 0.2s;
  max-width: 170px;
  border: 3px solid #15b5e2;
  border-radius: 20px;
  margin: auto;
}

.custom-game-form__btn:hover {
  color: #10131c;
  background-color: #15b5e2;
  cursor: pointer;
  padding: 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: all 0.2s;
  max-width: 170px;
  border: 2px solid #fafeff;
  border-radius: 20px;
}

.custom-game-form__input::placeholder {
  color: #15b5e2; /* Change the color of the placeholder text */
  font-style: italic; /* Make the placeholder text italic */
}

/* keyboard style */

span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.base {
  margin: auto;
  border-radius: 10px;
  background: black;
  display: flex;
  width: 700px;
  height: auto;
  flex-direction: column;
  padding: 30px 15px;
  font: 28px arial;
  box-shadow: 0px 40px 45px rgba(0, 0, 0, 0.4);
}

div[class*="line"] {
  display: flex;
  justify-content: space-around;
}

div[class*="line"] + div[class*="line"] {
  margin-top: 15px;
}

.line1 {
  padding: 0 30px;
}
.line3 {
  padding: 0 110px;
}

.line2 {
  padding: 0 30px;
}
.correct-letter {
  color: green !important;
  /* add any other styles you want for correct letters */
}

div[class*="line"] span:not(:active) {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  color: var(--accent);
  padding: 15px;
  background: var(--main-accent);
  border-radius: 12px;
  text-shadow: 0px 0px 40px #71d4fe, 0px 0px 80px #71d4fe;
  width: 45px;
  text-align: center;
}

div[class*="line"] span:active {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  color: #022a3b;
  padding: 15px;
  background: #2f3336;
  border-radius: 12px;
  text-shadow: 0px 0px 40px #71d4fe, 0px 0px 80px #71d4fe;
  width: 45px;
  text-align: center;
}

div[class*="line"] span:hover {
  /*   box-shadow: 0px 2px 10px #040404;*/

  background: #2f3336;
  text-shadow: 1px 2px 60px #00bcd4, 0px 0px 60px rgba(0, 188, 212, 0.9),
    0px 0px 60px rgba(0, 188, 212, 0.9), 10px 10px 60px rgba(0, 188, 212, 0.9);
  cursor: pointer;
}

div[class*="line"] span:active {
  transform: scale(0.9);
}

.line3 span:first-of-type {
  width: 45px;
  padding: 15px 15px;
}

.line3 span:last-of-type {
  width: 45px;
  padding: 15px 5px;
}

.line4 span:nth-child(1) {
  width: 55px;
}

.line4 span:nth-child(2) {
  width: 35px;
  padding: 10px 15px;
}

.line4 span:nth-child(3) {
  width: 35px;
  padding: 10px 15px;
}

.line4 span:nth-child(4) {
  width: 255px;
}

.line4 span:last-of-type {
  width: 105px;
}

#arrow,
#backspace,
#smile,
#mic {
  fill: #71d4fe;
  width: 35px;
  height: 35px;
  -webkit-filter: drop-shadow(0px 2px 20px #71d4fe);
  filter: drop-shadow(0px 2px 20px #71d4fe);
}

#arrow:hover,
#backspace:hover,
#smile:hover,
#mic:hover {
  -webkit-filter: drop-shadow(0px 2px 15px #71d4fe);
  filter: drop-shadow(0px 2px 15px #71d4fe);
}

.Hangman-image {
  border: 10px solid black;
  height: 300px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
  border-radius: 5%;
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-transparent);
  border: none;
  border-radius: 10px;
}

.result__container {
  position: relative;
  margin: auto;
  top: 20%;
  padding: 2em;
  border: none;
  border-radius: 1em;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  color: white;
  background-color: var(--main-accent);
}

.result__title {
  font-weight: 800;
  color: var(--accent);
}

.result__btn {
  background: var(--accent);
  border: none;
  border-radius: 10px;
  padding: 0.5em;
}

.result__btn:hover {
  cursor: pointer;
  background: var(--accent-dark);
}

.result__request-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.result__player-input {
  width: 10rem;
}
